In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
dates = pd.date_range(start = "1/1/2019", end = "11/04/2019")
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-10-26', '2019-10-27', '2019-10-28', '2019-10-29',
               '2019-10-30', '2019-10-31', '2019-11-01', '2019-11-02',
               '2019-11-03', '2019-11-04'],
              dtype='datetime64[ns]', length=308, freq='D')

In [3]:
data = pd.read_csv(r'top1BestSellingItems_Net32.csv')
data

,date,Profit_3MD-712-036,Avg. return on sales_3MD-712-036,Distinct count of order id_3MD-712-036,quantity_3MD-712-036,profitPerQuantitySold_3MD-712-036,profitPerOrderMade_3MD-712-036,Prediction_3MD-712-036
0,2019-January-2,0,0.0000,0,0,0,0,NaN
1,2019-January-3,0,0.0000,0,0,0,0,NaN
2,2019-January-4,0,0.0000,0,0,0,0,NaN
3,2019-January-7,132,0.7567,1,1,132,132,NaN
4,2019-January-8,490,0.7420,2,4,122,245,NaN
5,2019-January-9,245,0.7420,2,2,122,122,NaN
6,2019-January-10,122,0.7420,1,1,122,122,NaN
7,2019-January-11,122,0.7420,1,1,122,122,NaN
8,2019-January-14,0,0.0000,0,0,0,0,NaN
9,2019-January-15,245,0.7420,1,2,122,245,NaN
10,2019-January-16,0,0.0000,0,0,0,0,NaN
11,2019-January-17,245,0.7420,2,2,122,122,NaN
12,2019-January-18,245,0.7420,2,2,122,122,NaN
13,2019-January-21,0,0.0000,0,0,0,0,NaN
14,2019-January-22,122,0.7420,1,1,122,122,NaN
15,2019-January-23,0,0.0000,0,0,0,0,NaN
16,2019-January-24,122,0.7420,1,1,122,122,NaN
17,2019-January-25,0,0.0000,0,0,0,0,NaN
18,2019-January-28,490,0.7420,1,4,122,490,NaN
19,2019-January-29,0,0.0000,0,0,0,0,NaN
20,2019-January-30,0,0.0000,0,0,0,0,NaN
21,2019-January-31,0,0.0000,0,0,0,0,NaN
22,2019-February-1,0,0.0000,0,0,0,0,NaN
23,2019-February-4,367,0.7420,3,3,122,122,NaN
24,2019-February-5,0,0.0000,0,0,0,0,NaN
25,2019-February-6,367,0.7420,2,3,122,184,NaN
26,2019-February-7,122,0.7420,1,1,122,122,NaN
27,2019-February-8,592,0.7366,3,5,118,197,NaN
28,2019-February-11,235,0.7339,2,2,117,117,NaN
29,2019-February-12,0,0.0000,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...
184,2019-September-24,332,0.5270,4,7,47,83,NaN
185,2019-September-25,0,0.0000,0,0,0,0,NaN
186,2019-September-26,129,0.5021,3,3,43,43,NaN
187,2019-September-27,43,0.5021,1,1,43,43,NaN
188,2019-September-30,209,0.4976,4,5,42,52,NaN
189,2019-October-1,209,0.4976,4,5,42,52,NaN
190,2019-October-2,0,0.0000,0,0,0,0,NaN
191,2019-October-3,225,0.4679,3,6,37,75,NaN
192,2019-October-4,225,0.4679,4,6,37,56,NaN
193,2019-October-7,561,0.4679,7,15,37,80,NaN
194,2019-October-8,112,0.4679,2,3,37,56,NaN
195,2019-October-9,37,0.4679,1,1,37,37,NaN
196,2019-October-10,0,0.0000,0,0,0,0,NaN
197,2019-October-11,146,0.4611,1,4,36,146,NaN
198,2019-October-14,0,0.0000,0,0,0,0,NaN
199,2019-October-15,255,0.4611,2,7,36,127,NaN
200,2019-October-16,364,0.4611,1,10,36,364,NaN
201,2019-October-17,0,0.0000,0,0,0,0,NaN
202,2019-October-18,47,0.5270,1,1,47,47,NaN
203,2019-October-21,399,0.4837,1,10,40,399,NaN
204,2019-October-22,285,0.5270,4,6,47,71,NaN
205,2019-October-23,0,0.0000,0,0,0,0,NaN
206,2019-October-24,332,0.5270,6,7,47,55,NaN
207,2019-October-25,237,0.5270,3,5,47,79,NaN
208,2019-October-28,231,0.5213,4,5,46,58,NaN
209,2019-October-29,589,0.5157,4,13,45,147,NaN
210,2019-October-30,45,0.5157,1,1,45,45,NaN
211,2019-October-31,0,0.0000,0,0,0,0,NaN
212,2019-November-1,62,0.5946,1,1,62,62,NaN
213,2019-November-4,250,0.5946,4,4,62,62,NaN

In [4]:
data['date'] = pd.to_datetime(data['date'])

In [5]:
dates = pd.DataFrame(dates)
dates = dates.rename(columns = {0:'date'})

In [6]:
# dates = pd.DataFrame(dates)
# dates = dates.rename(columns = {0:'date'})
# data.columns
list = ['Profit_3MD-712-036', 'Avg. return on sales_3MD-712-036',
       'Distinct count of order id_3MD-712-036', 'quantity_3MD-712-036',
       'profitPerQuantitySold_3MD-712-036', 'profitPerOrderMade_3MD-712-036', 'Prediction_3MD-712-036']

In [7]:
list
for i in list:
    dates[f"{i}"] = ' '

In [8]:
data

,date,Profit_3MD-712-036,Avg. return on sales_3MD-712-036,Distinct count of order id_3MD-712-036,quantity_3MD-712-036,profitPerQuantitySold_3MD-712-036,profitPerOrderMade_3MD-712-036,Prediction_3MD-712-036
0,2019-01-02,0,0.0000,0,0,0,0,NaN
1,2019-01-03,0,0.0000,0,0,0,0,NaN
2,2019-01-04,0,0.0000,0,0,0,0,NaN
3,2019-01-07,132,0.7567,1,1,132,132,NaN
4,2019-01-08,490,0.7420,2,4,122,245,NaN
5,2019-01-09,245,0.7420,2,2,122,122,NaN
6,2019-01-10,122,0.7420,1,1,122,122,NaN
7,2019-01-11,122,0.7420,1,1,122,122,NaN
8,2019-01-14,0,0.0000,0,0,0,0,NaN
9,2019-01-15,245,0.7420,1,2,122,245,NaN
10,2019-01-16,0,0.0000,0,0,0,0,NaN
11,2019-01-17,245,0.7420,2,2,122,122,NaN
12,2019-01-18,245,0.7420,2,2,122,122,NaN
13,2019-01-21,0,0.0000,0,0,0,0,NaN
14,2019-01-22,122,0.7420,1,1,122,122,NaN
15,2019-01-23,0,0.0000,0,0,0,0,NaN
16,2019-01-24,122,0.7420,1,1,122,122,NaN
17,2019-01-25,0,0.0000,0,0,0,0,NaN
18,2019-01-28,490,0.7420,1,4,122,490,NaN
19,2019-01-29,0,0.0000,0,0,0,0,NaN
20,2019-01-30,0,0.0000,0,0,0,0,NaN
21,2019-01-31,0,0.0000,0,0,0,0,NaN
22,2019-02-01,0,0.0000,0,0,0,0,NaN
23,2019-02-04,367,0.7420,3,3,122,122,NaN
24,2019-02-05,0,0.0000,0,0,0,0,NaN
25,2019-02-06,367,0.7420,2,3,122,184,NaN
26,2019-02-07,122,0.7420,1,1,122,122,NaN
27,2019-02-08,592,0.7366,3,5,118,197,NaN
28,2019-02-11,235,0.7339,2,2,117,117,NaN
29,2019-02-12,0,0.0000,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...
184,2019-09-24,332,0.5270,4,7,47,83,NaN
185,2019-09-25,0,0.0000,0,0,0,0,NaN
186,2019-09-26,129,0.5021,3,3,43,43,NaN
187,2019-09-27,43,0.5021,1,1,43,43,NaN
188,2019-09-30,209,0.4976,4,5,42,52,NaN
189,2019-10-01,209,0.4976,4,5,42,52,NaN
190,2019-10-02,0,0.0000,0,0,0,0,NaN
191,2019-10-03,225,0.4679,3,6,37,75,NaN
192,2019-10-04,225,0.4679,4,6,37,56,NaN
193,2019-10-07,561,0.4679,7,15,37,80,NaN
194,2019-10-08,112,0.4679,2,3,37,56,NaN
195,2019-10-09,37,0.4679,1,1,37,37,NaN
196,2019-10-10,0,0.0000,0,0,0,0,NaN
197,2019-10-11,146,0.4611,1,4,36,146,NaN
198,2019-10-14,0,0.0000,0,0,0,0,NaN
199,2019-10-15,255,0.4611,2,7,36,127,NaN
200,2019-10-16,364,0.4611,1,10,36,364,NaN
201,2019-10-17,0,0.0000,0,0,0,0,NaN
202,2019-10-18,47,0.5270,1,1,47,47,NaN
203,2019-10-21,399,0.4837,1,10,40,399,NaN
204,2019-10-22,285,0.5270,4,6,47,71,NaN
205,2019-10-23,0,0.0000,0,0,0,0,NaN
206,2019-10-24,332,0.5270,6,7,47,55,NaN
207,2019-10-25,237,0.5270,3,5,47,79,NaN
208,2019-10-28,231,0.5213,4,5,46,58,NaN
209,2019-10-29,589,0.5157,4,13,45,147,NaN
210,2019-10-30,45,0.5157,1,1,45,45,NaN
211,2019-10-31,0,0.0000,0,0,0,0,NaN
212,2019-11-01,62,0.5946,1,1,62,62,NaN
213,2019-11-04,250,0.5946,4,4,62,62,NaN

In [10]:
for i in range(0,len(dates['date'])):
    for j in range(0,len(data['date'])):
        if dates['date'][i] == data['date'][j]:
            dates['Profit_3MD-712-036'][i] = data['Profit_3MD-712-036'][j]
            dates['Avg. return on sales_3MD-712-036'][i]= data['Avg. return on sales_3MD-712-036'][j]
            dates['Distinct count of order id_3MD-712-036'][i]= data['Distinct count of order id_3MD-712-036'][j]
            dates['quantity_3MD-712-036'][i]= data['quantity_3MD-712-036'][j]
            dates['profitPerQuantitySold_3MD-712-036'][i]= data['profitPerQuantitySold_3MD-712-036'][j]
            dates['profitPerOrderMade_3MD-712-036'][i]= data['profitPerOrderMade_3MD-712-036'][j]
            dates['Prediction_3MD-712-036'][i] = data['Prediction_3MD-712-036'][j]
            continue

C:\Users\carlo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\carlo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\carlo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\carlo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\carlo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\carlo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\carlo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

,date,Profit_3MD-712-036,Avg. return on sales_3MD-712-036,Distinct count of order id_3MD-712-036,quantity_3MD-712-036,profitPerQuantitySold_3MD-712-036,profitPerOrderMade_3MD-712-036,Prediction_3MD-712-036
0,2019-01-01,,,,,,,
1,2019-01-02,0,0,0,0,0,0,0
2,2019-01-03,0,0,0,0,0,0,0
3,2019-01-04,0,0,0,0,0,0,0
4,2019-01-05,,,,,,,
5,2019-01-06,,,,,,,
6,2019-01-07,132,0.7567,1,1,132,132,0
7,2019-01-08,490,0.742,2,4,122,245,0
8,2019-01-09,245,0.742,2,2,122,122,0
9,2019-01-10,122,0.742,1,1,122,122,0
10,2019-01-11,122,0.742,1,1,122,122,0
11,2019-01-12,,,,,,,
12,2019-01-13,,,,,,,
13,2019-01-14,0,0,0,0,0,0,0
14,2019-01-15,245,0.742,1,2,122,245,0
15,2019-01-16,0,0,0,0,0,0,0
16,2019-01-17,245,0.742,2,2,122,122,0
17,2019-01-18,245,0.742,2,2,122,122,0
18,2019-01-19,,,,,,,
19,2019-01-20,,,,,,,
20,2019-01-21,0,0,0,0,0,0,0
21,2019-01-22,122,0.742,1,1,122,122,0
22,2019-01-23,0,0,0,0,0,0,0
23,2019-01-24,122,0.742,1,1,122,122,0
24,2019-01-25,0,0,0,0,0,0,0
25,2019-01-26,,,,,,,
26,2019-01-27,,,,,,,
27,2019-01-28,490,0.742,1,4,122,490,0
28,2019-01-29,0,0,0,0,0,0,0
29,2019-01-30,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
278,2019-10-06,,,,,,,
279,2019-10-07,561,0.4679,7,15,37,80,0
280,2019-10-08,112,0.4679,2,3,37,56,0
281,2019-10-09,37,0.4679,1,1,37,37,0
282,2019-10-10,0,0,0,0,0,0,0
283,2019-10-11,146,0.4611,1,4,36,146,0
284,2019-10-12,,,,,,,
285,2019-10-13,,,,,,,
286,2019-10-14,0,0,0,0,0,0,0
287,2019-10-15,255,0.4611,2,7,36,127,0
288,2019-10-16,364,0.4611,1,10,36,364,0
289,2019-10-17,0,0,0,0,0,0,0
290,2019-10-18,47,0.527,1,1,47,47,0
291,2019-10-19,,,,,,,
292,2019-10-20,,,,,,,
293,2019-10-21,399,0.4837,1,10,40,399,0
294,2019-10-22,285,0.527,4,6,47,71,0
295,2019-10-23,0,0,0,0,0,0,0
296,2019-10-24,332,0.527,6,7,47,55,0
297,2019-10-25,237,0.527,3,5,47,79,0
298,2019-10-26,,,,,,,
299,2019-10-27,,,,,,,
300,2019-10-28,231,0.5213,4,5,46,58,0
301,2019-10-29,589,0.5157,4,13,45,147,0
302,2019-10-30,45,0.5157,1,1,45,45,0
303,2019-10-31,0,0,0,0,0,0,0
304,2019-11-01,62,0.5946,1,1,62,62,0
305,2019-11-02,,,,,,,
306,2019-11-03,,,,,,,
307,2019-11-04,250,0.5946,4,4,62,62,0

In [13]:
dates.to_csv(r'net32Top1ReadyForML.csv')