In [1]:
import pandas as pd
import numpy as np

In [2]:
can = pd.read_csv(r"CanordersConsolidate.csv")
us = pd.read_csv(r"USordersConsolidate.csv")
state = pd.read_csv(r"provincestate.csv")

In [ ]:
can.head(1)

In [ ]:
state.head(1)

In [ ]:
us.head(1)

# American

In [ ]:
state['State'] = state['State'].str.lower()
us['order state'] = us['order state'].str.lower()

In [ ]:
# for i in range(0,len(orders['order state'].unique()):
list = []
for i in range(0,len(us['order state'].unique())):
    if len(str(us['order state'].unique()[i])) > 3:
        list.append(us['order state'].unique()[i])

In [ ]:
for i in range(0,len(list)):
    for j in range(0,len(state['State'])):
        if list[i] == state['State'][j]:
            us.loc[us['order state']==list[i], 'order state'] = state['Code'][j]

In [ ]:
us['order state'] = us['order state'].str.upper()

In [ ]:
us.to_csv(r"usOrdersConsolidateReady.csv")

continued

In [23]:
us = pd.read_csv(r'usAmazonOrdersConsolidateReady.csv')

In [28]:
state.head(1)

  Country    State Code
0     USA  alabama   AL

In [30]:
# us
for i in us['order state'].unique():
    for j in range(0,len(state['Code'])):
        if i == state['Code'][j]:
            us.loc[us['order state']==i,'country'] = state['Country'][j]

In [37]:
us = us.dropna()

In [40]:
us.to_csv(r'usAmazonConsolidatedReady1.csv')

# Canadian Version

In [3]:
can = can.drop(columns = {'group-sku'})

In [4]:
state['State'] = state['State'].str.lower()
us['order state'] = us['order state'].str.lower()
can['order state'] = can['order state'].str.lower()

In [5]:
can['order state'].unique()

array(['ontario', 'quebec', 'northwest territories', 'alberta',
       'nova scotia', 'on', 'prince edward island', 'british columbia',
       'québec', 'sk', 'bc', 'ab', 'manitoba', 'qc', 'mb', 'ns',
       'saskatchewan', 'nl', 'newfoundland', 'new brunswick',
       'nouveau-brunswick', 'pe', 'nb', nan, 'yt', 'yukon', 'b.c.', 'nt',
       'nunavut'], dtype=object)

In [6]:
can.iloc[27]

date                                                    2019-01-02
type                                                         Order
order id                                       701-3826782-7408219
sku                                                     OMR-BP742N
description      Omron BP742N 5 Series Upper Arm Blood Pressure...
quantity                                                         1
order city                                                Montreal
order state                                                 québec
order postal                                                H2A2K6
product sales                                                 67.9
selling fees                                                 10.19
fba fees                                                      6.11
landing cost                                                 29.15
Name: 27, dtype: object

In [7]:
# for i in range(0,len(orders['order state'].unique()):
list = []
for i in range(0,len(can['order state'].unique())):
    if len(str(can['order state'].unique()[i])) > 3:
        list.append(can['order state'].unique()[i])

In [8]:
for i in range(0,len(list)):
    for j in range(0,len(state['State'])):
        if list[i] == state['State'][j]:
            can.loc[can['order state']==list[i], 'order state'] = state['Code'][j]

In [9]:
# can['order state'] = can['order state'].str.capitalize()
# can['order state'
# can['order state'].unique()
can.loc[can['landing cost'] == 'QC']

C:\Users\carlo\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [date, type, order id, sku, description, quantity, order city, order state, order postal, product sales, selling fees, fba fees, landing cost]
Index: []

In [10]:
can.iloc[27]

date                                                    2019-01-02
type                                                         Order
order id                                       701-3826782-7408219
sku                                                     OMR-BP742N
description      Omron BP742N 5 Series Upper Arm Blood Pressure...
quantity                                                         1
order city                                                Montreal
order state                                                 québec
order postal                                                H2A2K6
product sales                                                 67.9
selling fees                                                 10.19
fba fees                                                      6.11
landing cost                                                 29.15
Name: 27, dtype: object

In [11]:
can.loc[can['order state'] == 'québec','order state'] = 'QC'
can.loc[can['order state'] == 'nouveau-brunswick','order state'] = 'NB'
can.loc[can['order state'] == 'b.c.','order state'] = 'BC'
can.loc[can['order state'] == 'newfoundland','order state'] = 'NL'

In [13]:
# can.loc[can['landing cost']=='NB']
can.iloc[27]

date                                                    2019-01-02
type                                                         Order
order id                                       701-3826782-7408219
sku                                                     OMR-BP742N
description      Omron BP742N 5 Series Upper Arm Blood Pressure...
quantity                                                         1
order city                                                Montreal
order state                                                     QC
order postal                                                H2A2K6
product sales                                                 67.9
selling fees                                                 10.19
fba fees                                                      6.11
landing cost                                                 29.15
Name: 27, dtype: object

In [14]:
can[can['order state'].isnull()]

,date,type,order id,sku,description,quantity,order city,order state,order postal,product sales,selling fees,fba fees,landing cost
1494,2019-02-05,Order,701-6970479-4319455,3MM-1527-1-12 (2),3M 1527-1 Transpore Tape (Pack of 12),1,Etobicoke,NaN,M8X 2L7,16.6,1.99,6.11,NaN
10971,2019-08-28,Order,702-7154599-5041026,KEL-GEL15GM,Sinclair Kelo-Cote Gel for Scars 15g,1,St. John's,NaN,A1H 1A2,31.0,4.65,3.81,16.26

In [15]:
can.loc[can['order city']=='Etobicoke','order state'] = 'ON'
can.loc[can['order city']=="St. John's",'order state'] = 'NL'

In [16]:
can = can.dropna()

In [17]:
can[can['landing cost'].isnull()]

Empty DataFrame
Columns: [date, type, order id, sku, description, quantity, order city, order state, order postal, product sales, selling fees, fba fees, landing cost]
Index: []

In [18]:
can['order state'] = can['order state'].str.upper()

In [19]:
can = can.loc[can['landing cost'] !=0]

In [21]:
can.to_csv('canadaConsolidatedReady.csv')